person-info-consumer/src/main/resources/wadl/persons.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.18.1 02/19/2014 03:28 AM"/>
    <grammars>
        <xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:complexType name="personJSON">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="firstName" type="xs:string" minOccurs="0"/>
                    <xs:element name="lastName" type="xs:string" minOccurs="0"/>
                    <xs:element name="birthDate" type="dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="dateTime" final="extension restriction">
                <xs:complexContent>
                    <xs:extension base="baseDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="baseDateTime" abstract="true">
                <xs:complexContent>
                    <xs:extension base="abstractDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="abstractDateTime" abstract="true">
                <xs:complexContent>
                    <xs:extension base="abstractInstant">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="abstractInstant" abstract="true">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/">
        <resource path="/persons">
            <method id="addPerson" name="POST">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <method id="getPersons" name="GET">
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:string"/>
                <method id="deletePerson" name="DELETE"/>
                <method id="updatePerson" name="PUT"/>
                <method id="getPersonById" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>